bedrock-agentcore
langchain
langchain-groq
langchain-huggingface
langchain-community
langgraph
langgraph-prebuilt
langgraph-checkpoint
langgraph-checkpoint-aws
faiss-cpu
pydantic-settings
groq
python-dotenv
sentence-transformers
